.contact__container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 4rem;
  padding-bottom: 3rem;
}
.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.contact__info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
}
.contact__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 150px 2px;
}
.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}
.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}
.contact__card-title {
  font-weight: var(--font-medium);
}
.contact__card-data {
  display: block;
  margin-bottom: var(--mb-0-75);
}
.contact__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}
.contact__button-icon {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2px;
  transition: 0.3s;
}
.contact__button:hover .contact__button-icon {
  transform: translateX(00.25rem);
}
.contact__form {
  width: 1fr;
}
.contact__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 4rem;
}
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  z-index: 1;
}
.contact__form-tag {
  position: absolute;
  top: -0.6rem;
  left: 1.5rem;
  padding: 0 1rem;
  font-size: var(--small-font-size);
  background-color: var(--body-color);
  z-index: 2;
}
.contact__form-textarea {
  height: 11.5rem;
}
.contact__form-textarea textarea {
  resize: none;
}
.alert-success,
.alert-failure {
  width: fit-content;
  margin: 3px 0;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.alert-success {
  background-color: aquamarine;
}
.alert-failure {
  background-color: rgb(255 0 0 / 50%);
}
.show-alert {
  opacity: 1;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.6fr));
    row-gap: 4rem;
  }
  .contact__form {
    width: 1fr;
    text-align: center;
  }
  .contact__form .button {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
