.testimonial__container {
  width: 800px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0 auto;
}
.testimonial__card {
  position: relative;
  width: 95%;
  background-color: var(--container-color);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 3rem auto var(--mb-3);
  box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 3px 0px;
}
.testimonial__img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: calc(50% - 50px);
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid var(--body-color);
}
.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-top: 3rem;
  margin-bottom: var(--mb-0-25);
}
.testimonial__description {
  font-size: var(--small-font-size);
}
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 991px) {
  .testimonial__container {
    width: initial;
    margin: 0 auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
