.testimonial__container {
  width: 750px;
  margin: 0 auto;
}
.testimonial__card {
  position: relative;
  width: 95%;
  background-color: var(--container-color);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 4rem 1rem var(--mb-3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.testimonial__img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: calc(50% - 50px);
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid var(--body-color);
}
.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-top: 3rem;
  margin-bottom: var(--mb-0-25);
}
.testimonial__description {
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  .testimonial__container {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .testimonial__container {
    width: 400px;
    margin: 0 auto;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .testimonial__container {
    width: 300px;
    margin: 0 auto;
  }
}
